:root {
    --background-color-light: #f2f5f8;
    --background-color-dark: #1c2430;
    --text-color1: #1c2430;
    --text-color2: #949494;
}

body {
    font-family: 'Inter', sans-serif;
    /* Áp dụng font Inter cho toàn bộ trang */
}


/* Body */
.wrapper {
    width: 1332px;
    /* cách header 90px,trái phải auto,dưới 0 */
    margin: 90px auto 0;
}

.poster {
    position: relative;

}

.img-poster,
.img-poster2 {
    width: 100%;
}


.poster-responsive,
.poster2-responsive {
    display: none;
}

.four-img {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.img-box {
    width: 660px;
    height: 300px;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.favorite-product {
    width: 763px;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 12px auto;
}

.favorite1 {
    padding: 0 30px;
    background-color: rgb(252, 175, 23);
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

.favorite2 {
    color: var(--text-color2);
    font-size: 1.125rem;
    padding: 0 30px;
    background-color: #fafafa;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

.product-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.product-item {
    width: 324px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-item1 img {
    width: 100%;
}



.product-name {
    font-size: 14px;
}

.product-price {
    font-size: 16px;
}

.product-color {
    display: flex;
    gap: 9px;
}

.product-color1 {
    background-color: pink;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.product-color2 {
    background-color: black;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.product-color3 {
    background-color: grey;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}



.more {
    display: block;
    margin: 35px auto 20px;
    width: 380px;
    height: 48px;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
}

.suggest {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.suggest button {
    background: none;
    border: none;
    /* Xóa padding mặc định */
    padding: 0;
    cursor: pointer;
}

.suggest-product {
    font-size: 32px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    /* Đảm bảo không có gạch chân mặc định */
}

.suggest-product::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    /* Khoảng cách từ chữ đến gạch chân */
    width: 100%;
    /* Độ dài của gạch chân */
    height: 1px;
    /* Độ dày của gạch chân */
    background-color: black;
    /* Màu của gạch chân */
}

.rotate-svg {
    transform: rotate(-90deg);
    /* Xoay -90 độ theo chiều kim đồng hồ */
}

.product-list1 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product-item1 {
    width: 253.6px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-item1 img {
    width: 100%;
    height: 100%;
}

/* contact */
.contact {
    background-color: var(--background-color-dark);
    width: 100%;
    height: 384px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.boc3cot {
    display: flex;
    gap: 16px;
}

.cot1,
.cot2,
.cot3 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.cot1 {
    width: 380px;
}

.cot2 {
    width: 380px;
}

.cot1 ul li,
.cot2 ul li {
    color: #bfcad9;
    list-style: none;
    padding-top: 16px;
    font-size: 14px;
}

.cot3 {
    width: 548px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.cot1 h4,
.cot2 h4,
.cot3 h4 {
    font-size: 16px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.phone,
.comment,
.email {
    display: flex;
    gap: 12px;
    align-items: center;
}

.contact-custom_svg {
    width: 28px;
    height: 28px;
    /* màu viền của svg */
    color: #bfcad9;
}

.contact1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}

.contact1 p {
    color: #bfcad9;
}

.social-network {
    display: flex;
    gap: 16px;
}

/* footer */
#footer {
    background-color: var(--background-color-dark);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-box {
    display: flex;
    justify-content: flex-start;
    width: 1332px;
}

.footer-box1 {
    color: white;
    width: 548px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-box1_text1 {
    font-size: 16px;
}

.footer-box1_text2 {
    font-size: 14px;
    width: 493px;
}

.footer-box2 {
    display: flex;
    gap: 20px;
    align-items: center;
}


/* style chung cho 2 nút */
.slick-arrow {
    /* căn giữa theo chiều dọc(posi,top,transf) */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
    border-radius: 50%
}

.slick-arrow:hover {
    background-color: gray;
    color: white;
}

.slick-prev {
    left: 0;

}

.slick-next {
    right: 0;
}

/* nút bọc 5 dấu chấm trắng */
.slick-dots {
    position: absolute;
    /* nằm dưới cách ảnh 20px */
    bottom: 20px;
    /* và căn giữa chiều ngang */
    left: 50%;
    transform: translate(-50%, 0);
    /* chuyển thành displayflex và importan để đè */
    display: flex !important;
    /* cho ra giữa */
    align-items: center;
    justify-content: center;
}

/* dấu chấm trắng */
.slick-dots button {
    /* để mất chữ font-size = 0 */
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #eee;
    border: none;
    outline: none;
    transition: all 0.2s linear;

}

/* khi dấu chấm trắng kích hoạt thì có màu này */
.slick-dots .slick-active button {
    background-color: white;

}

/* tự thêm */
/* màu của chấm bé tí */
.slick-dots li button:before {
    color: white;
    font-family: slick;
    font-size: 10px;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
}

/* tự thêm */
.slick-dots li.slick-active button:before {
    color: white;
}



/* Màn mobile*/
@media(max-width:768px) {

    /* phần sản phẩm yêu thích kéo sang ngang */
    .favorite-product {
        width: 768px !important;
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        margin: 12px 0 0;
    }
}

/* Màn tablet */
@media (max-width: 1280px) and (min-width: 768px) {

    /* phần sản phẩm yêu thích kéo sang ngang */
    .favorite-product {
        width: 100% !important;
        display: flex;
        justify-content: center;
        gap: 16px;
        margin: 12px 0 0;
    }
}

/* Chung cho 2 màn */
@media (max-width: 1280px) {
    body {
        width: 100%;
        /* Đảm bảo header chiếm toàn bộ chiều rộng của màn hình mobile */
        max-width: 100vw;
        /* Loại bỏ giới hạn chiều rộng */
        padding: 0 16px !important;
    }

    /* phan dau */
    #header {
        width: 100%;
        /* Đảm bảo header chiếm toàn bộ chiều rộng của màn hình mobile */
        max-width: 100vw;
        /* Loại bỏ giới hạn chiều rộng */
        padding: 0 16px !important;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0;
    }

    .navbar-header {
        display: flex;
        justify-content: space-between !important;
    }

    .menu {
        display: none !important;
    }

    .menu-outline {
        width: 70px;
        display: block;
        align-items: center;
    }

    .header-icons {
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search input {
        display: none;
    }

    /* phần ảnh to slick */
    .wrapper {
        width: 100% !important;
        height: 200%;
    }

    .poster {
        display: none;
    }

    .poster-responsive {
        display: block;

    }

    .img-box {
        width: 100%;
        height: 50%;
    }

    .text-like {
        font-size: 24px !important;
    }

    .favorite1,
    .favorite2 {
        height: 40px !important;
    }

    .product-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap !important;
        justify-content: space-between;
        gap: 16px;
        margin-top: 16px;
    }

    .product-item {
        width: calc(50% - 8px);
        /* Mỗi ảnh chiếm 50% chiều rộng trừ đi nửa khoảng cách giữa chúng */
    }

    .product-color1,
    .product-color2,
    .product-color3 {
        width: 16px !important;
        height: 16px !important;
    }

    .poster2 {
        display: none;
    }

    .poster2-responsive {
        display: block;
    }

    .img-poster2-responsive {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .suggest {
        display: flex;
        align-items: center;
        font-size: 16px !important;
    }

    .suggest-product {
        font-size: 20px !important;
    }

    .product-list1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap !important;
        justify-content: space-between;
        gap: 16px;
        margin-top: 16px;
    }

    .product-item1 {
        width: calc(50% - 8px);
        /* Mỗi ảnh chiếm 50% chiều rộng trừ đi nửa khoảng cách giữa chúng */
    }

    .more {
        width: 100% !important;
    }

    .contact {
        background-color: var(--background-color-dark);
        width: 100%;
        height: auto !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid rgb(217, 217, 217);
    }

    .boc3cot {
        width: 100%;
        display: flex;
        padding: 16px;
        flex-direction: column;
    }

    .cot1 {
        order: 2;
    }

    .cot2 {
        order: 3;
    }

    .cot2 h4,
    .cot1 h4,
    .cot3 h4 {
        font-size: 14px;
        font-weight: normal !important;
    }

    .cot3 {
        width: 100%;
        order: 1 !important;
        display: flex;
        flex-direction: column-reverse;
    }

    .cot1 ul {
        display: none;
    }

    .cot2 ul {
        display: none;
    }

    .cot3 ul {
        display: none;
    }

    .contact-text__responsive {
        order: 4;
        font-size: 14px;
        color: white;
        display: block;
    }

    #footer {
        width: 100%;
    }

    .footer-box {
        display: inline;
        width: 100%;
        padding: 16px;
    }

    .footer-box1 {
        width: 100%;

    }

    .footer-box1_text1 {
        font-size: 14px;
    }

    .footer-box1_text2 {
        font-size: 12px;
        width: 100%;
        padding: 0 0 20px;
    }
}