.wrapper {
    width: 1332px;
    /* cách header 90px,trái phải auto,dưới 0 */
    margin: 90px auto 0;

}

.page-yody {
    padding: 10px;
}

.product-detail {
    display: flex;
    padding: 20px 0;
    gap: 15px;
}

.min-column {
    width: 44px;
}

.product-list-img {
    width: 44px;


}

.product-img {
    width: 48px;
    height: 64px;
    margin-bottom: 10px;
}

.product-img img {
    width: 100%;
    height: 100%;

}

.product-big-img {
    width: 492px;
}

.product-big-img img {
    width: 100%;
    height: 100%;
}

.product-info {
    width: 604px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating-sold {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* màu của 5 ngôi sao */
.product-social-proof_star-active__9ucGG path {
    fill: #fcaf17;
    stroke: #fcaf17;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
}

.text-sale {
    font-weight: bold;
    font-size: 14px;
}

.star-sale {
    display: flex;
    align-items: center;
}

.img-star {
    width: 41px;
    height: 41px;
}

.eya-view {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-color,
.size-color {
    display: flex;
    gap: 9px;
}

.product-color1 {
    background-color: pink;
    width: 44px;
    height: 44px;
    border: 1px solid black;
    border-radius: 50%;
}

.product-color2 {
    background-color: black;
    width: 44px;
    height: 44px;
    border-radius: 50%;

}

.product-color3 {
    background-color: grey;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.product-size {
    display: flex;
    justify-content: space-between;
}

.size-color {
    font-size: 12px;
}

.size-color1 {
    background-color: white;
    width: 44px;
    height: 44px;
    border: 1px solid #D3D8E2;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #D3D8E2;
    position: relative;
    overflow: hidden;
    /* Đảm bảo đường chéo không bị tràn ra ngoài */
}

.size-color1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, transparent 49%, #D3D8E2 50%, transparent 51%);
    transform: rotate(-90deg);
    transform-origin: center;
    z-index: 1;
    /* Đảm bảo đường chéo nằm trên cùng */
}

.size-color2 {
    background-color: black;
    width: 44px;
    height: 44px;
    border: 1px solid black;
    border-radius: .5rem;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.size-color3 {
    background-color: white;
    width: 44px;
    height: 44px;
    border: 1px solid #D3D8E2;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;

}

.minus-and-plus {
    width: 144px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #d3d8e2;
    border-radius: 10px;


}

.addtocart {
    font-weight: bold;
    width: 393px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
}

.buy {
    font-weight: bold;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 10px;
    background-color: #fcaf17;
}

.bank {
    height: 88px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.bank-img {
    height: 28px;
    display: flex;
    gap: 12px;
}

.bank-img img {
    height: 100%;
}

.bank-text {
    font-size: 12px;
}

.describe-and-ship {
    width: 1332px;
    display: flex;
    justify-content: center;
    gap: 74px;
    font-size: 14px;
}

.describe {
    padding-left: 40px;
    width: 500px;

}

.ship {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 604px;
    height: 192px;
    padding: 12px 0 12px 25px;

}

.ship1 {
    display: flex;


}

/* mau vien cua svg */
.product-risk-reduce-policies_icon__4DFHO {
    color: #4b6281;
    fill: none;
}

/* đã xem gần đây */
.filter-product-container {
    display: flex;
    gap: 12px;
}



.product-list {
    width: 3360px;
    display: flex;
    gap: 12px;
}

.product-item {
    width: 324px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f5f8;
    /* Màu nền của nút */
    width: 36px;
    height: 36px;
    /* Khoảng cách bên trong nút */
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    border-radius: 50%;
}

.prev {
    left: -20px;
    /* Vị trí nút prev ở bên trái */
}

.next {
    right: -20px;
    /* Vị trí nút next ở bên phải */
}

.img-tag {
    position: relative;
}

/*  giảm giá 50% góc trái */
.discount-50-percent {
    background-color: #e14337;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    position: absolute;
    top: .5rem;
    right: .5rem;
    height: 22px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.product-item img {
    width: 100%;
    height: 100%;
}

.product-name {
    font-size: 14px;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}

.discount-product-price {
    font-size: 16px;
    color: red;
    font-weight: 600;
}

.origin-product-price {
    font-size: 12px;
    color: #c7c7c7;
    text-decoration: line-through;
    text-decoration-color: #c7c7c7;
    /* Thay đổi màu sắc của gạch ngang */
}



.product-color {
    display: flex;
    gap: 9px;
}

.product-color1 {
    background-color: pink;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.product-color2 {
    background-color: black;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.product-color3 {
    background-color: grey;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}