body {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-item.completed {
    text-decoration: line-through;
}